{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="fas fa-user-astronaut p-5" style="border: solid 3px #fff; border-radius: 100px; font-size: 300px;"></div>
		</div>
		<div class="col-md-8">
			<div>
				<h1>Bonjour {{ username ? username : 'personne anonyme' }}.</h1>
				<br>
				
				{% if connectee == 'true' %}
					<h3>Bienvenue sur votre profil {{ username }}</h3>
					<h4>Ton email actuel est {{ email }}</h4>
				{% elseif username == null %}
					<h2>Pour accéder à plus de fonctionnalités, veuillez vous connecter.</h2>
					<div class="row">
						<div class="col-md-6">
							<a class="btn btn-secondary btn-sm" href="{{ path('app_prof_sign', {etat: 'inscription'}) }}" style="border-radius:50px; font-size:30px;margin-left:115px;">Inscription</a>
						</div>
						<div class="col-md-6">
							<a class="btn btn-secondary btn-sm" href="{{ path('app_prof_connect', {etat: 'connection'}) }}" style="border-radius:50px; font-size:30px;">Connection</a>
						</div>
					</div>
				{%endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
