{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
	{% if me == true %}
		<h1>My videos.</h1>
	{% else %}
		<h1>Browse {{ genre ? genre : 'All Genres' }}</h1>
	{% endif %}

    <h2 class="mt-5 mb-4">Filter by Genre</h2>
    <ul class="genre-list ps-0 mt-2 mb-3">
		<li class="d-inline">
			<a class="btn btn-primary btn-sm" href="{{ path('app_browse', {
				slug: 'me'
			}) }}">My videos</a>
		</li>
		<li class="d-inline">
			<a class="btn btn-primary btn-sm" href="{{ path('app_browse', {
				slug: ''
			}) }}">Any Genres</a>
		</li>
        <li class="d-inline">
			<a class="btn btn-primary btn-sm" href="{{ path('app_browse', {
				slug: 'meme'
			}) }}">Meme</a>
        </li>
        <li class="d-inline">
			<a class="btn btn-primary btn-sm" href="{{ path('app_browse', {
				slug: 'music'
			}) }}">Music</a>
        </li>
    </ul>

    <div>
		{% if me == true %}
			<h2 class="mt-5">My videos</h2>
		{% else %}
			<h2 class="mt-5">{{ genre ? genre : 'All videos' }}</h2>
		{% endif %}
		<turbo-frame target="_top" id="video-browse-list-{{ pager.currentPage }}">
			<div class="row">
				{% for video in pager %}
					<div class="col col-md-4">
						<div class="mixed-vinyl-container p-3 text-center">
							<a href="{{ path('app_video_show', {slug: video.slug}) }}">
								<img src="/vid/thumbnail/{{ video.getThumbnail() }}" alt="video album cover" style="background-color:black;width:384px;height:192px;object-fit:scale-down;">
								<p class="mt-2"><strong>{{ video.nom }}</strong></p>
								<span style="text-transform:capitalize;">{{ video.genre }}</span>
								<br>
								<span>{{ video.createdAt|ago }}</span>
							</a>
						</div>
					</div>
				{% endfor %}
				
				{% if pager.hasNextPage %}
                    <turbo-frame id="video-browse-list-{{ pager.nextPage }}" src="{{ pagerfanta_page_url(pager, pager.nextPage) }}" loading="lazy"></turbo-frame>
                {% endif %}
			</div>
		</turbo-frame>
    </div>
</div>
{% endblock %}
